<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div style="position: absolute; top: 30vh; width: 100%; text-align: center;">
                        <h1>Polla Eliminatorias Conmebol</h1>
                        <div style="display:flex; gap:10px; justify-content:center; align-items:center">
                            <span class="loader"></span>
                        </div>
                    </div>
                </Authorizing>
                <NotAuthorized>
                    <PollaEngendrilClientHosted.Client.Pages.NoAuthorizedComponent />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle style="padding: 20px;">¿Qué haces? Esa página no existe!</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Qué lamentable! No hay nada en esta página.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
